/*
@sable-tweak
id: clear-sable-font
name: Clear Sable Font
description: Use default system/browser font
author: userspring
tags: global, font
*/

body.sable-remote-theme,
body.sable-remote-theme * {
  font-family: 'Twemoji', system-ui, -apple-system, sans-serif !important;
}