/*
@sable-tweak
id: clear-theme-font
name: Clear Theme Font
description: Remove custom theme font where applicable
author: userspring
tags: global, font
*/

body.sable-remote-theme,
body.sable-remote-theme * {
  font-family: 'Nunito Variable', 'Twemoji', system-ui, -apple-system, sans-serif, serif !important;
  --custom-font-size1: 1rem !important;
  --custom-font-size2: var(--_164xfgeb) !important;
  --custom-line-height: inherit !important;
}