/*
@sable-tweak
id: clear-theme-font
name: Clear Theme Font
description: Remove custom theme font where applicable.
author: userspring
tags: global, font
*/

body.sable-remote-theme,
body.sable-remote-theme * {
  font-family: Nunito Variable, system-ui, Twemoji, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
}