/*
@sable-tweak
id: dynamic-roomsbar
name: Dynamic RoomsBar
description: Expand collapsed left sidebars on hover
author: userspring
tags: sidebar
*/

body.sable-remote-theme {
  --room-width: 3.9rem;
  --bottom-width: 19.05rem;
  --bottom-vis: hidden;
  --upscale-icon: 22px;
  --upscale: 30.6px;
}

/* Minimum ini Size */
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"]) {
  width: var(--room-width) !important;
  transition: width 0.2s ease-in-out;
}
/* Max hover Size */
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"], [class*=UserQuickTools]):hover {
  width: 14.9375rem !important;
}

/* ini Room Icon Size */
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"]) 
[class*="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 styles_AvatarPresence__1meaq7c0"] *:not([class*=AvatarPresenceBadge] *, [class*="RoomIconComposite"] *, [class*=UserQuickTools] *) {
  height: var(--upscale);
  width: var(--upscale);
  --display: grid;
  --place: center;
  display: var(--display);
  place-items: var(--place);
  transition: width 0.05s ease-in-out;
}
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"]) 
[class*="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv4d prxiv41a prxiv41k prxiv41s"] 
[data-sentry-element="Icon"] {
  height: var(--upscale-icon) !important;
  width: var(--upscale-icon) !important;
  transition: width 0.05s ease-in-out;
}
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"])
:is([class*=AvatarPresenceBadge], [class*="RoomIconComposite"]) {
  --upscale: meow !important;
}
/* Hover Room Icon Size */
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"]):hover 
[class*="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 styles_AvatarPresence__1meaq7c0"] *:not([class*=AvatarPresenceBadge], [class*="RoomIconComposite"], [class*=UserQuickTools] *) {
  --upscale: 24px !important;
}
body.sable-remote-theme :is([data-sentry-component="Space"], 
  [data-sentry-component="Home"], [data-sentry-component="Direct"]):hover 
[class*="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv4d prxiv41a prxiv41k prxiv41s"] 
[data-sentry-element="Icon"] {
  --upscale-icon: meow !important;
}

/* Bottom Bar */
body.sable-remote-theme [class*=UserQuickTools] {
  width: var(--bottom-width) !important;
  visibility: var(--bottom-vis);
}
/* Bottom Bar Hover */
body.sable-remote-theme div :is([class*="UserQuickTools"]:hover, [class="prxiv40 _1mqalmd1 _1mqalmd0 prxiv41 prxiv41t"]:hover) 
[class*="UserQuickTools"] {
  width: 19.05rem !important;
  visibility: visible !important;
}

/* Extra Hovers */
body.sable-remote-theme div [data-sentry-source-file="ClientLayout.tsx"]:has(
[class*="Sidebar_Sidebar__vs60p50"]:hover) {

  --bottom-width: 19.05rem !important;
  --bottom-vis: visible !important;
  --room-width: 14.9375rem !important;
  --upscale-icon: meow !important;
  --upscale: 24px !important;
}
