/*
@sable-tweak
id: solid-colors
name: Solid Colors
description: Undo custom theme effects like transparency and text glow
author: userspring
tags: clear, accessibilty
*/

/* Remove Effects */
body.sable-remote-theme,
body.sable-remote-theme * {
  --softest-alpha: 1 !important;
  --softer-alpha: 1 !important;
  --soft-alpha: 1 !important;
  --hard-alpha: 1 !important;
  --harder-alpha: 1 !important;
  --hardest-alpha: 1 !important;

  --custom-text-shadow1: meow !important;
  --custom-text-shadow2: meow !important;
  --custom-text-shadow3: meow !important;
}

/* Fix for gradient themes trasparency - Settings Left Panel*/
body.sable-remote-theme [data-sentry-component="PageNav"][data-sentry-element="Box"] {
  background: linear-gradient(to top, var(--sable-bg-container), var(--sable-bg-container)), var(--sides-grad) !important;
}


/* Tip - Check 'Neon City' theme implementation*/