/*
@sable-theme
id: catppuccin-mocha
name: Catppuccin Mocha
author: Catppuccin / Shea
kind: dark
contrast: low
tags: dark, catppuccin, blue, purple
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/catppuccin-mocha.sable.css
*/

body.sable-remote-theme {
  /* Background */
  --sable-bg-container: #181825;
  --sable-bg-container-hover: #1e1e2e;
  --sable-bg-container-active: #313244;
  --sable-bg-container-line: #45475a;
  --sable-bg-on-container: #cdd6f4;

  /* Surface */
  --sable-surface-container: #1e1e2e;
  --sable-surface-container-hover: #313244;
  --sable-surface-container-active: #45475a;
  --sable-surface-container-line: #585b70;
  --sable-surface-on-container: #cdd6f4;

  /* Surface Variant */
  --sable-surface-var-container: #181825;
  --sable-surface-var-container-hover: #18182580;
  --sable-surface-var-container-active: #313244;
  --sable-surface-var-container-line: #45475a;
  --sable-surface-var-on-container: #cdd6f4;

  /* Primary */
  --sable-primary-main: #cba6f7;
  --sable-primary-main-hover: #cba6f7d8;
  --sable-primary-main-active: #cba6f7b4;
  --sable-primary-main-line: #cba6f7a0;
  --sable-primary-on-main: #1e1e2e;
  --sable-primary-container: #cba6f712;
  --sable-primary-container-hover: #cba6f71a;
  --sable-primary-container-active: #cba6f712;
  --sable-primary-container-line: #cba6f708;
  --sable-primary-on-container: #cba6f7;

  /* Secondary */
  --sable-sec-main: #bac2de;
  --sable-sec-main-hover: #a6adc8;
  --sable-sec-main-active: #9399b2;
  --sable-sec-main-line: #7f849c;
  --sable-sec-on-main: #1e1e2e;
  --sable-sec-container: #313244;
  --sable-sec-container-hover: #45475a;
  --sable-sec-container-active: #585b70;
  --sable-sec-container-line: #6c7086;
  --sable-sec-on-container: #cdd6f4;

  /* Success */
  --sable-success-main: #a6e3a1;
  --sable-success-main-hover: #a6e3a1d8;
  --sable-success-main-active: #a6e3a1b4;
  --sable-success-main-line: #a6e3a1a0;
  --sable-success-on-main: #181825;
  --sable-success-container: #313244;
  --sable-success-container-hover: #a6e3a11a;
  --sable-success-container-active: #a6e3a1b412;
  --sable-success-container-line: #313244;
  --sable-success-on-container: #a6e3a1;

  /* Warning */
  --sable-warn-main: #fab387;
  --sable-warn-main-hover: #fab387d8;
  --sable-warn-main-active: #fab387b4;
  --sable-warn-main-line: #fab387a0;
  --sable-warn-on-main: #181825;
  --sable-warn-container: #313244;
  --sable-warn-container-hover: #fab3871a;
  --sable-warn-container-active: #fab38712;
  --sable-warn-container-line: #313244;
  --sable-warn-on-container: #fab387;

  /* Crtical */
  --sable-crit-main: #f38ba8;
  --sable-crit-main-hover: #f38ba8d8;
  --sable-crit-main-active: #f38ba8b4;
  --sable-crit-main-line: #f38ba8a0;
  --sable-crit-on-main: #181825;
  --sable-crit-container: #313244;
  --sable-crit-container-hover: #f38ba81a;
  --sable-crit-container-active: #f38ba812;
  --sable-crit-container-line: #313244;
  --sable-crit-on-container: #f38ba8;

  /* Other */
  --sable-focus-ring: rgb(203, 166, 247, 0.5);
  --sable-shadow: rgba(0, 0, 0, 0.4);
  --sable-overlay: rgb(24, 24, 37, 0.8);
}

