/*
@sable-theme
id: matrix-terminal
name: Matrix Terminal
author: userspring
kind: dark
contrast: high
tags: oled, green, black · recommended tweaks: square-everything, crt
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/matrix-terminal.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: hsl(0, 0%, 0%);
  --sable-bg-on-container: hsl(120, 80%, 65%);
  --sable-surface-container: hsl(0, 0%, 0%);
  --sable-surface-container-line: hsl(120, 80%, 45%);
  --sable-surface-on-container: hsl(120, 80%, 100%);
  --sable-primary-main: hsl(120, 80%, 8%);
  --sable-primary-on-main: hsl(120, 80%, 100%);
}