/*
@sable-theme
id: neon-city-light
name: Neon City Light
author: original by userspring, modified by swirly
kind: light
contrast: high
tags: gradient, purple, glow, translucent
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/neon-city-light.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: linear-gradient(to top, hsl(300, 100%, 92%), hsl(300, 100%, 98%));
  --sable-bg-on-container: hsla(270, 20.5%, 10%, 0.85);
  --sable-surface-container: hsla(300, 30%, 95%, 0.67);
  --sable-surface-container-line: hsla(270, 35%, 69.06%, 0.85);
  --sable-surface-on-container: hsla(270, 0%, 5%, 1);
  --sable-primary-main: hsla(270, 25%, 66%, 0.85);
  --sable-primary-on-main: hsla(270, 12.5%, 15%, 0.85);
}
