/*
@sable-theme
id: neon-city-green
name: Neon City - Green
author: userspring
kind: dark
contrast: high
tags: gradient, green, glow, translucent
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/neon-city-green.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: linear-gradient(to top, hsl(120, 100%, 7%), hsl(220, 100%, 2%));
  --sable-bg-on-container: hsla(120, 20.5%, 90%, 0.85);
  --sable-surface-container: hsla(120, 30%, 5%, 0.67);
  --sable-surface-container-line: hsla(120, 35%, 30.94%, 0.85);
  --sable-surface-on-container: hsla(120, 0%, 95%, 1);
  --sable-primary-main: hsla(120, 25%, 34%, 0.85);
  --sable-primary-on-main: hsla(120, 12.5%, 85%, 0.85);
}