/*
@sable-theme
id: neon-city-red
name: Neon City - Red
author: userspring
kind: dark
contrast: high
tags: gradient, red, glow, translucent
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/neon-city-red.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: linear-gradient(to top, hsl(359, 100%, 9%), hsl(359, 100%, 2%));
  --sable-bg-on-container: hsla(359, 20.5%, 90%, 0.85);
  --sable-surface-container: hsla(359, 30%, 5%, 0.67);
  --sable-surface-container-line: hsla(359, 35%, 30.94%, 0.85);
  --sable-surface-on-container: hsla(359, 0%, 95%, 1);
  --sable-primary-main: hsla(359, 25%, 34%, 0.85);
  --sable-primary-on-main: hsla(359, 12.5%, 85%, 0.85);
}