/*
@sable-theme
id: neon-city-blue
name: Neon City - Blue
author: userspring
kind: dark
contrast: high
tags: gradient, blue, glow, translucent
fullThemeUrl: https://raw.githubusercontent.com/SableClient/themes/main/themes/neon-city-blue.sable.css
*/

.sable-theme-preview {
  --sable-bg-container: linear-gradient(to top, hsl(220, 100%, 10%), hsl(220, 100%, 2%));
  --sable-bg-on-container: hsla(220, 20.5%, 90%, 0.85);
  --sable-surface-container: hsla(220, 30%, 5%, 0.67);
  --sable-surface-container-line: hsla(220, 35%, 30.94%, 0.85);
  --sable-surface-on-container: hsla(220, 0%, 95%, 1);
  --sable-primary-main: hsla(220, 25%, 34%, 0.85);
  --sable-primary-on-main: hsla(220, 12.5%, 85%, 0.85);
}